<?xml version="1.0"?>
<!--
  ~ Copyright © 2017 Magmodules.eu. All rights reserved.
  ~ See COPYING.txt for license details.
  -->
<config>
    <modules>
        <Spryng_Payment>
            <version>1.0.0</version>
        </Spryng_Payment>
    </modules>
    <global>
        <models>
            <spryng>
                <class>Spryng_Payment_Model</class>
            </spryng>
        </models>
        <blocks>
            <spryng>
                <class>Spryng_Payment_Block</class>
            </spryng>
        </blocks>
        <helpers>
            <spryng>
                <class>Spryng_Payment_Helper</class>
            </spryng>
        </helpers>
        <resources>
            <spryng_setup>
                <setup>
                    <module>Spryng_Payment</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </spryng_setup>
        </resources>
        <payment>
            <groups>
                <spryng>Spryng Payments</spryng>
            </groups>
        </payment>
    </global>
    <frontend>
        <routers>
            <spryng_payment>
                <use>standard</use>
                <args>
                    <module>Spryng_Payment</module>
                    <frontName>spryng</frontName>
                </args>
            </spryng_payment>
        </routers>
        <layout>
            <updates>
                <spryng_payment>
                    <file>spryng_payment.xml</file>
                </spryng_payment>
            </updates>
        </layout>
        <translate>
            <modules>
                <spryng_payment>
                    <files>
                        <default>Spryng_Payment.csv</default>
                    </files>
                </spryng_payment>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <spryng_payment>
                    <files>
                        <default>Spryng_Payment.csv</default>
                    </files>
                </spryng_payment>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <spryng_general>
                <enabled>0</enabled>
                <apikey_sandbox backend_model="adminhtml/system_config_backend_encrypted"/>
                <apikey_live backend_model="adminhtml/system_config_backend_encrypted"/>
                <order_status_pending>pending</order_status_pending>
                <order_status_processing>processing</order_status_processing>
                <invoice_notify>1</invoice_notify>
                <debug>1</debug>
                <dynamic_descriptor>Order %id%</dynamic_descriptor>
                <model>spryng/spryng</model>
                <title>Spryng Payments</title>
                <group>spryng</group>
                <sort_order>0</sort_order>
            </spryng_general>
            <spryng_creditcard>
                <active>0</active>
                <model>spryng/creditcard</model>
                <group>spryng</group>
                <title>Credit Cards</title>
                <allowspecific>0</allowspecific>
                <sort_order>10</sort_order>
            </spryng_creditcard>
            <spryng_ideal>
                <active>0</active>
                <model>spryng/ideal</model>
                <group>spryng</group>
                <title>iDEAL</title>
                <allowspecific>0</allowspecific>
                <sort_order>11</sort_order>
            </spryng_ideal>
            <spryng_paypal>
                <active>0</active>
                <model>spryng/paypal</model>
                <group>spryng</group>
                <title>Paypal</title>
                <allowspecific>0</allowspecific>
                <sort_order>12</sort_order>
            </spryng_paypal>
            <spryng_sepa>
                <active>0</active>
                <model>spryng/sepa</model>
                <group>spryng</group>
                <title>Sepa</title>
                <allowspecific>0</allowspecific>
                <sort_order>13</sort_order>
            </spryng_sepa>
            <spryng_sofort>
                <active>0</active>
                <model>spryng/sofort</model>
                <group>spryng</group>
                <title>Sofort</title>
                <allowspecific>0</allowspecific>
                <sort_order>14</sort_order>
            </spryng_sofort>
            <spryng_klarna>
                <active>0</active>
                <model>spryng/klarna</model>
                <group>spryng</group>
                <title>Klarna</title>
                <allowspecific>0</allowspecific>
                <sort_order>15</sort_order>
            </spryng_klarna>
            <spryng_bancontact>
                <active>0</active>
                <model>spryng/bancontact</model>
                <group>spryng</group>
                <title>Bancontact</title>
                <allowspecific>0</allowspecific>
                <sort_order>16</sort_order>
            </spryng_bancontact>
        </payment>
    </default>
</config>
